# API Configuration
# PREFIX: api/v1
API_PREFIX=api 
API_VERSION=1
API_PORT=3000

# DATABASE
DB_USERNAME=app_user
DB_PASSWORD=app_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app_db
DB_SSL=false

# Cognito
AWS_COGNITO_USER_POOL_ID=your_cognito_user_pool_id
AWS_COGNITO_REGION=us-east-1
AWS_COGNITO_CLIENT_ID=your_cognito_client_id
AWS_COGNITO_INTERNAL_AUTH_TOKEN=your_cognito_internal_auth_token

# SEEDER
BASE_ADMIN_EMAIL=your_first_admin_user_email
BASE_ADMIN_PASSWORD=your_first_admin_user_password
BASE_ADMIN_FIRST_NAME=your_first_admin_user_first_name
BASE_ADMIN_LAST_NAME=your_first_admin_user_last_name
# Just in local development
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
